
@*@model Joetz.Models.MaakMonitorenAanModel*@

@model Joetz.Models.FileUploadModel

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "MaakMonitorAan", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
{
    <div>
        <h4>Select a file to upload:</h4>
        @*@Html.TextBoxFor(m => m.fileNaam)*@

        <input name="file_uploader" type="file" @*accept=".xls"*@ />

        <br/>

        <input type="submit" id="bttn_Upload" value="UploadFile"/>

        @*<input type="submit" value="UploadFile"/>*@


        @*<button id="UploadButton"
                name ="Uploaden"
                onclick="UploadButton_Click"
                runat="server">
            </button>    *@

        <hr />

        <Label id="UploadStatusLabel"
               runat="server">
        </Label>
    </div>
}