@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    Verlang je ook al naar de vakantie? Dan presenteren we je graag de <b>kinder- en jongerenvakanties 2014</b> van JOETZ.
Dankzij onze selectie van de <b>uiterst verzorgde verblijfplaatsen en de begeleiding door ervaren monitoren</b> die allemaal een opleiding hebben genoten die erkend wordt door de Vlaamse overheid, kan JOETZ opnieuw duizenden kinderen en jongeren de vakantie van hun leven bieden.
Een kindervakantie is in de eerste plaats <b>natuurlijk ambiance, vriendschap en plezier.</b> Daarom gaat er bij JOETZ heel veel aandacht naar <b>spel, animatie, sport en daguitstappen.</b> Samen met <b>gezonde maaltijden en hygiëne</b> zijn dat voor ons essentiële ingrediënten om onbezorgde, kwaliteitsvolle vakanties te garanderen.
JOETZ heeft ook voor <b>jongeren</b> heel wat in de aanbieding. Je kunt kiezen uit een hele reeks buitenlandse vakanties. En of je nu fun of actie zoekt, JOETZ heeft het allemaal. <b>Vanaf 18</b> kan iedereen die door de reismicrobe gebeten is, met JOETZ mee op <b>inleefreis</b> om zo een land te ontdekken als gast in plaats van als toerist.
De smaak te pakken? Wacht dan niet te lang en boek een onvergetelijke JOETZ-vakantie!
</article>

<aside>
   
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
    </ul>
</aside>