@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
            </hgroup>
            <p>
                Welkom bij de website van Joetz, hierbij heb je (als beheerder) de mogelijkheid om nieuwe monitoren toe te voegen door een excel file up te loaden.
                Bezoek zeker ook eens de app!
            </p>
        </div>
    </section>
    }
