@{
    ViewBag.Title = "Monitoren";
}

<div class="container">
    <br /><br />
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> @ViewBag.Title</h1>
    </div>
    <div class="container">
        <h6>
            U kan een Excel bestand uploaden om meerdere monitoren toe te voegen aan uw databank. 
            <br /><br />
            @using (Html.BeginForm("Index", "Monitor", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" value="Bestand kiezen" 
                       accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <br />
                <input type="submit" value="Bevestigen" />
            }
        </h6>
    </div>
    
</div>