@{
    ViewBag.Title = "Uitloggen";
}
    <div class="container">
        <div class="well">
            <br />
            <h2>@ViewBag.Title</h2>
            <h4>Succesvol uitgelogd</h4>
        </div>

        <form role="form">
            <div class="container">
                <br /><br />
                @Html.ActionLink("Terug naar index", "Index", "Home")
            </div>
        </form>

    </div>

